.formDiv {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(3px);
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background: #d2d4d2;
  width: 40%;
  position: relative;
  border-radius: 0.5rem;
}

.desc,
.title {
  background: #d2d4d2;
}

.formCross {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.title {
  border: none;
  padding: 1rem;
  font-weight: 700;
  font-size: 2rem;
  outline: none;
  border-bottom: 3px solid #d2d4d2;
}

.title:focus {
  border-bottom: 3px solid #007FF6;
}

.desc {
  padding: 1rem;
  border: none;
  outline: none;
  resize: vertical;
}

.date {
  border: 2px solid #007FF6;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 8rem;
}


input[type='radio'] {
  display: none;
}

.radioElements {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.radioElements label {
  border-radius: 0.5rem;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.75rem;
  padding: 0.5rem;
}

.lLow {
  border-color: #008000;
  color: #008000;
}

.lMedium {
  border-color: #FFA500;
  color: #FFA500;
}

.lHigh {
  border-color: #FF0000;
  color: #FF0000;
}

.lLow:has(input[type="radio"]:checked) {
  border-color: #008000;
  color: white;
  background: #008000;
} 

.lMedium:has(input[type="radio"]:checked) {
  border-color: #FFA500;
  color: white;
  background: #FFA500;
}

.lHigh:has(input[type="radio"]:checked) {
  border-color: #FF0000;
  color: white;
  background: #FF0000;
}

.subRadio {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.listAndSubmit {
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
}

.listDiv {
  display: flex;
  gap: 1.75rem;
  align-items: center;
}

.listDiv label {
  font-weight: 500;
}

.listDiv select {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  border: 2px solid;
}

.listAndSubmit button {
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #ED7117;
}

.listAndSubmit img {
  height: 1rem;
  width: 1rem;
  filter: brightness(0) saturate(100%) invert(97%) sepia(0%) saturate(7500%) hue-rotate(103deg) brightness(111%) contrast(100%);
  cursor: pointer;
}


@media (max-width: 900px) {
  .form {
    width: 90%;
  }
}

@media (max-width: 425px) {
  .date {
    margin: 0 2rem;
  }

  .subRadio {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .radioElements {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
